In [1]:
# import pandas module
import pandas as pd
import numpy as np

# make random series
data = pd.Series(np.random.randint(low = 1, high = 4, size=30))

In [2]:
data

0     3
1     2
2     2
3     1
4     2
5     1
6     3
7     1
8     3
9     3
10    3
11    2
12    1
13    1
14    1
15    1
16    2
17    1
18    3
19    2
20    1
21    1
22    2
23    2
24    1
25    2
26    3
27    1
28    1
29    1
dtype: int32

In [3]:
top3 = data.value_counts()
top3

1    14
2     9
3     7
Name: count, dtype: int64

In [4]:
top3.index[0]

1

In [5]:
data.isin([top3.index[0]])

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9     False
10    False
11    False
12     True
13     True
14     True
15     True
16    False
17     True
18    False
19    False
20     True
21     True
22    False
23    False
24     True
25    False
26    False
27     True
28     True
29     True
dtype: bool

In [9]:
other = {False: 'Other', True: 1}

data = data.isin([top3.index[0]]).map(other)

In [10]:
data

0     Other
1     Other
2     Other
3         1
4     Other
5         1
6     Other
7         1
8     Other
9     Other
10    Other
11    Other
12        1
13        1
14        1
15        1
16    Other
17        1
18    Other
19    Other
20        1
21        1
22    Other
23    Other
24        1
25    Other
26    Other
27        1
28        1
29        1
dtype: object